
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #cfcfcf #f1f1f1; /* Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
    margin: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #10b981;
  }
  
  /* Make scrollbars not appear on touch-based devices */
  @media (hover: none) {
    .custom-scrollbar::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
  }
}